body {
  background: #ddd;
}

.wrapper {
  width: 1000px;
  margin: 0px auto;
}

header, footer {
  background: #333;
  color: #ddd;
  width: auto;
  height: 50px;
  line-height: 50px;
}

main {
  min-height: 400px;
  background: #fff;
}
